@charset "utf-8";




@media (max-width:1600px) {
    .inner {
        max-width: calc(100% - 160px);
        margin: 0 auto;
    }
}

@media (max-width:768px) {
    .inner {
        max-width: calc(100% - 80px);
        margin: 0 auto;
    }

   /*  #about_img .inner_100 .popupbook h2 {
        font-size: 50px;
        text-align: center;
        padding-top: 50px;
    }

    #about_img .inner_100 .popupbook .popupbook_img li img {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
 */

    #about_img .inner_100 .popupbook .txt1 {font-size: 30px;}
    #about_img .inner_100 .popupbook .txt2 {font-size: 15px; padding: 20px 50px 0 50px;}
    #about_img .inner_100 .popupbook .txt3 {font-size: 15px; padding: 20px 50px 0 50px;}
    #about_img .inner_100 .popupbook .txt4 {font-size: 15px; padding: 20px 50px 50px 50px;}

    #about_img .inner_100 ul li .thumbnail img:nth-child(2) {
        width: 60px;
    }

    #about_img .inner_100 ul li:hover .thumbnail img:nth-child(2) {
        width: 60px;
    }

}




/* main */
#main {
    background: #1E90C5;
}

#about_img {
    text-align: center;
    width: 100%
}

#about_img h2 {
    padding-top: 150px;
    font-size: 500%;
    color: #fff;
}



#about_img .txt1 {
    font-size: 25px;
    font-family: 'Daehan-Bold';
    padding-top: 20px;
}

#about_img .txt2 {
    font-weight: 700;
    font-family: 'LeferiPoint-WhiteObliqueA';
    padding: 30px 0 30px;
}

#about_img .txt3 {
    font-weight: 700;
    font-family: 'LeferiPoint-WhiteObliqueA';
    padding: 0 0 30px;
}

#about_img .txt4 {
    font-weight: 700;
    font-family: 'LeferiPoint-WhiteObliqueA';
    padding-bottom: 100px;
}




#about_img ul {
    display: flex;
    justify-content: center;
    width: 100%;
}

#about_img ul li .thumbnail {
    position: relative;
}

#about_img ul li .thumbnail img {
    display: block;
    width: 100%;
}

#about_img ul li .thumbnail img:nth-child(2) {
    transition: opacity 0.5s;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 110px;
}

#about_img ul li:hover .thumbnail img:nth-child(2) {
    opacity: 1;
    width: 110px
}


#about_img .youtube {
    padding-bottom: 200px;
}