@charset "utf-8";


/* @media (max-width:1600px) {
    .inner {
        max-width: calc(100% - 160px);
        margin: 0 auto;
    }
}
 */


@media (max-width:768px) {
    .inner {
        max-width: calc(100% - 40px);
        margin: 0 auto;
    }


    #creative .container {
        width: 100%;
        height: 1000px;
    }

    #creative .container img {
        width: 100%;
    }


    #creative ul.tabs li {
        background: none;
        color: #000;
        width: 23%;
        display: inline-block;
        padding: 20px 0;
        cursor: pointer;
        border: 1px solid #fff;

    }

    #creative .con_box {
        width: 90%;
    }

    #creative .contents1 li {
        background: #fff;
        padding: 16px 5px 5px;
        border-radius: 40px;
        width: calc((100% - 30px)/2);
        margin: 30px 0 30px;
        font-family: 'Daehan-Bold';
    }

    #creative .contents1 li h2 {
        font-size: 18px;
    }

    #creative .contents1 li p {
        font-size: 11.5px;
        letter-spacing: -1px;
    }

    #creative .contents2 li {
        background: #fff;
        padding: 16px 5px 5px;
        border-radius: 40px;
        width: calc((100% - 30px)/2);
        margin: 30px 0 30px;
        font-family: 'Daehan-Bold';
    }

    #creative .contents2 li h2 {
        font-size: 18px;
    }

    #creative .contents2 li p {
        font-size: 11.5px;
        letter-spacing: -1px;
    }

    #creative .contents3 li {
        background: #fff;
        padding: 16px 5px 5px;
        border-radius: 40px;
        width: calc((100% - 30px)/2);
        margin: 50px 0 50px;
        font-family: 'Daehan-Bold';
    }

    #creative .contents3 li h2 {
        font-size: 18px;
    }

    #creative .contents3 li p {
        font-size: 11.5px;
        letter-spacing: -1px;
    }

    #creative .contents4 li {
        background: #fff;
        padding: 16px 5px 5px;
        border-radius: 40px;
        width: calc((100% - 30px)/2);
        margin: 50px 0 50px;
        font-family: 'Daehan-Bold';
    }

    #creative .contents4 li h2 {
        font-size: 18px;
    }

    #creative .contents4 li p {
        font-size: 11.5px;
        letter-spacing: -1px;
    }
}



/* main */
#main {
    background: #005261;
}

#about_img {
    text-align: center;
}

#about_img h2 {
    padding-top: 150px;
    font-size: 100px;
    color: #fff;
}





/* 탭메뉴 */
.container {
    width: 1200px;
    height: 1800px;
    margin: 0 auto;
    text-align: center;


}

ul.tabs {
    font-family: 'Daehan-Bold';
    cursor: pointer;
    padding: 20px 0 20px;


}


ul.tabs li {
    background: none;
    color: #000;
    display: inline-block;
    padding: 20px 38px;
    cursor: pointer;
    border: 1px solid #fff;


}

.con_box {
    margin: 0 auto;
    position: relative;
    width: 1000px;
    background: none;


}

/* contents1 */
.contents1 {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #005261;
    display: flex;
    justify-content: space-between;
}

.contents1 ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.contents1 li {
    background: #fff;
    padding: 30px 0 10px;
    border-radius: 40px;
    width: calc((100% - 100px)/2);
    margin: 50px 0 50px;
    font-family: 'Daehan-Bold';
}

.contents1 li img {
    padding: 20px 0 0 0;
    object-fit: cover;
    width: 100.1%;
    display: block;
}

/* contents2 */
.contents2 {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #FFBB3E;
    display: flex;
    justify-content: space-between;

}

.contents2 ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.contents2 li {
    background: #fff;
    padding: 30px 0 10px;
    border-radius: 40px;
    width: calc((100% - 100px)/2);
    margin: 50px 0 50px;
    font-family: 'Daehan-Bold';
}

.contents2 li img {
    padding: 20px 0 0 0;
    object-fit: cover;
    width: 100.1%;
    display: block;
}


/* contents3 */
.contents3 {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #3FB364;
    display: flex;
    justify-content: space-between;
}

.contents3 ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.contents3 li {
    background: #fff;
    padding: 30px 0 10px;
    border-radius: 40px;
    width: calc((100% - 100px)/2);
    margin: 50px 0 50px;
    font-family: 'Daehan-Bold';
}

.contents3 li img {
    padding: 20px 0 0 0;
    object-fit: cover;
    width: 100.1%;
    display: block;
}

/* contents4 */
.contents4 {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #FF6147;
    display: flex;
    justify-content: space-between;
}

.contents4 ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.contents4 li {
    background: #fff;
    padding: 30px 0 10px;
    border-radius: 40px;
    width: calc((100% - 100px)/2);
    margin: 50px 0 50px;
    font-family: 'Daehan-Bold';
}

.contents4 li img {
    padding: 20px 0 0 0;
    object-fit: cover;
    width: 100.1%;
    display: block;
}



#creative .tabs li.active {
    background: #fff;
    transition: 0.5s;
}


.con_box img {
    padding: 5px 0 20px;
}

.con_box p {
    font-weight: 700;
    font-family: 'LeferiPoint-WhiteObliqueA';
    padding: 20px 0 10px;
}