@charset "utf-8";


@media (max-width:768px) {
    /*     .inner {max-width: calc(100% - 40px); margin: 0 auto;}

    #header .inner .ham { padding-top:30px;} */

    #main_visual h2 img {
        width: 80%;
        padding-top: 10%;
    }

    #main_visual ul li .thumbnail {
        width: 100%;
    }

    #main_visual ul li .thumbnail img {
        width: 100%;
    }

    #main_visual ul li .thumbnail img:nth-child(1) {
        width: 100%;
    }

    #look .inner .look_txt h2 img {
        width: 100%;
    }

    .swiper-wrapper {
        width: 100%;
    }

    .swiper img {
        width: 110%;
    }



}



/* 일러스트영역 */
#main {
    background: #1E90C5;
}

#main_visual {
    text-align: center;
}

/* #main_visual h2 {width: 900px; padding-top: 150px;} */
/* #main_visual h2 img {width: 100%;} */

#main_visual ul {
    display: flex;
    justify-content: center;
}

#main_visual ul li .thumbnail {
    position: relative;
}

#main_visual ul li .thumbnail img {
    display: block;
}

#main_visual ul li .thumbnail img:nth-child(1) {
    transition: opacity 0.5s;
    opacity: 1;
}

#main_visual ul li:hover .thumbnail img:nth-child(1) {
    opacity: 0;
}

#main_visual ul li .thumbnail img:nth-child(2) {
    transition: opacity 0.5s;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

#main_visual ul li:hover .thumbnail img:nth-child(2) {
    opacity: 1;
}





/* 슬라이드 영역 */
#look {
    padding-bottom: 200px;
    text-align: center;
}

#look .look_txt h2 {
    padding-top: 150px;
}

#look .look_txt h2 img {
    width: 60%;
}